<div style="margin: 0% 15%; padding: 5%; background: #dedede;">
	<h5 style="color: #444;"> 
		<span style="color: green; font-size: 15px;">
			<%= "#{@user.nome}".humanize.split(/ /).first %>
		</span>
		<span style=" font-size: 15px;">
			acabou de se cadastrar na sua landing page !
		</span>
	</h5>
	<br><br>
	<ul>
		<li style="color: #444; font-size: 15px; margin: 15px;">
			<strong>Nome Completo: </strong>
			<span style="font-style: italic;"><%= @user.nome %></span>
		</li>
		<li style="color: #444; font-size: 15px; margin: 15px;">
			<strong>E-Mail: </strong>
			<span style="font-style: italic;"><%= @user.email %></span>
		</li>
		<li style="color: #444; font-size: 15px; margin: 15px;">
			<strong>Celular: </strong>
			<span style="font-style: italic;"><%= @user.celular %></span>
		</li>
	</ul>
</div>