<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |msg| %>
		<% if msg.split(/ /).first.upcase == "PASSWORD" %>

		<% elsif msg.upcase == "Email já está em uso".upcase %>
			M.toast({html: 'Você já está cadastrado.', classes: 'blue darken-4'});
		<% else %>
			M.toast({html: '<%= msg %>', classes: 'red'});
		<% end %>
	<% end %>
<% else %>
	M.toast({html: 'Cadastrado!', classes: 'green'});
	$("span.created").text("Cadastrado! Você receberá todas as novidades no seu e-mail.");
	$("form").remove();
	$(".enviar").css("opacity", 0);
<% end %>
