
<div class="parallax-container2" style="background-image: url('/images/banner.png');">
	<div class="parallax2" style="z-index: 1;">
		<div class="height-64px hide-on-small-only"></div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l6">
					<div class="card transparent">
						<div class="card-content">
							<img src="/images/logo@2x.png" class="img-fluid width-300px"><br> <br>
							<span class="grey-text f30 arkhip-regular">
								O PONTO ALTO DO
							</span> <br>
							<span class="white-text f35 arkhip-regular">
								CONFORTO E ESTILO
							</span>
						</div>
					</div>
				</div>
				<div class="col s12 m12 l6">
					<div class="row">
						<div class="col s12 m12 l9 offset-l3">
							<div class="card transparent border radius">
								<div class="card-content">
									<div class="row padding-15">
										<span class="f15 grey-text">
											<center>
												Receba informações e condições especiais!
											</center>
										</span>
									</div>
									<%= form_for [@user], remote: true do |f| %>
										<div class="row">
											<div class="input-field col s12 m12 l12">
												<%= f.text_field :nome, id: "user_name", placeholder: "Seu nome e sobrenome"  %>
												<label class="active" for="user_name">Nome</label>
											</div>
											<div class="input-field col s12 m12 l12">
												<%= f.text_field :email, id: "user_email", placeholder: "Seu melhor e-mail"  %>
												<label class="active" for="user_email">E-mail</label>
											</div>
											<div class="input-field col s12 m12 l12">
												<%= f.text_field :celular, maxlength: 15, id: "user_celular", placeholder: "Seu celular"  %>
												<label class="active" for="user_celular">Celular</label>
											</div>
										</div>
										<div class="action">
											<button id="enviar" type="submit" class="transparent opacity-0 no-margin no-padding">Enviar</button>
										</div>
									<% end %>
										<center>
											<span class="created white-text f20"></span>
										</center>
								</div>
										<div class="action">
											<button type="submit" class="enviar btn btn-large f22 peso-7 grey width-100 radius-bottom no-margin padding-top-5">Enviar</button>
										</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m12 l12">
					<center>
						<a class="screen-down btn btn-large transparent border-grey btn-floating fixed hide-on-small-only">
							<img src="/skins/caminho_45.png" class="img-fluid margin-top-5 padding-15">
						</a>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="parallax-container3 vermon_residence" style="background-image: url('/images/casal.png');">
	<div class="parallax2" style="z-index: 1;">
		<div class="height-50px"></div>
		<div class="container">
			<div class="row">
				<div class="col s12 m12 l6">
					<div class="container">
						
					<span class="grey-text text-lighten-1 f15 arkhip-regular left clear">
						SITUADO NO
					</span> <br>
					<span class="white-text f25 arkhip-regular left clear">
						PARQUE FABER,
					</span><br>
					<span class="grey-text text-lighten-1 f15 arkhip-regular right clear">
						AO LADO DO <br> SHOPPING IGUATEMI
					</span> <br>
					<span class="grey-text text-lighten-1 f15 arkhip-regular left clear margin-top-15">
						UM PROJETO SOFISTICADO DE 
					</span> <br>
					<span class="white-text f25 arkhip-regular left clear">
						1, 2 E 3 DORMITÓRIOS
					</span><br>
					<span class="grey-text text-lighten-1 f15 arkhip-regular right clear">
						COM 6 OPÇÕES <br> DE PLANTAS &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;
					</span> <br> 
					<span class="grey-text text-lighten-1 f15 left clear text-shadow">
						A Ergil lança o empreendimento perfeito para os consumidores mais exigentes. Um projeto sofisticado e elaborado minuciosamente para oferecer o máximo em qualidade de vida, conforto e elegância. Tudo isso, na melhor localização da cidade.
					</span> <br>
					</div>
				</div>
				<div class="col s12 m12 l6"></div>
			</div>
		</div>
	</div>
</div>

<div class="vermont-color no-margin no-padding">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
			<br>
				<p class="center-align">
					<span class="montserrat-regular f30 white-text">PLANTAS DISPONÍVEIS</span>
				</p>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><br>
					<span class="arkhip-regular">79 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/79m2.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><span class="arkhip-regular f12"> - sala estendida</span><br>
					<span class="arkhip-regular">79 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/79m2 sala estendida.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><br>
					<span class="arkhip-regular">68 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/68m2.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><span class="arkhip-regular f12"> - sala estendida</span><br>
					<span class="arkhip-regular">68 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/68m2 sala estendida.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><br>
					<span class="arkhip-regular">64 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/planta 64m2.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12 vermon_residence">
				<center class="arkhip-regular f15 white-text">
					<span class="arkhip-regular">PLANTA</span><span class="arkhip-regular f12"> - garden</span><br>
					<span class="arkhip-regular">64 m²</span>
					<br><br>
					<div class="planta">
						<img src="/images/64m2 garden.png" class="img-fluid">
					</div>
				</center>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				<br>
				<hr color="#444">
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l5 offset-l1">
				<br>
				<p>
					<span class="arkhip-regular f22 white-text">O PONTO ALTO DO </span> <br>
					<span class="arkhip-regular f22 white-text">CONFORTO E LAZER</span>
					<ul class="grey-text f18">
						<li>• Espaços de fazer;</li>
						<li>• Espaço Fitness;</li>
						<li>• Car Wash;</li>
						<li>• Lazer com churrasqueira e forno de pizza;</li>
						<li>• Playground;</li>
						<li>• Salão de festas gourmel;</li>
						<li>• Piscina adulto com deck molhado;</li>
						<li>• Piscina infatil;</li>
						<li>• SPA;</li>
						<li>• Espaço Kids;</li>
						<li>• Bike share;</li>
						<li>• Praça de descanso e muito mais;</li>
					</ul>
				</p>
				<br>
			</div>
			<div class="col s12 m12 l5">
				<br>
				<p class="right-align">
					<span class="arkhip-regular f22 white-text">DETALHES QUE </span> <br>
					<span class="arkhip-regular f22 white-text">FAZEM A DIFERENÇA</span>
					<ul class="grey-text f18 right-align">
						<li>• Preparação de medições individuais de água, energia e gás;</li>
						<li>• Preparação de ar condicionado Split;</li>
						<li>• Preparação para aquecedor de água e gás;</li>
						<li>• Torneiras monocomando;</li>
						<li>• Armazenamento de água de chuva;</li>
						<li>• Águas comuns mobiliadas e decoradas;</li>
						<li>• Garagens com depósitos individuais;</li>
						<li>• Varandas preparadas para envidraçamento;</li>
						<li>• Sistema PEX de água quente e fria;</li>
						<li>• Dormitórios com redução acústica;</li>
						<li>• Infraestrutura para câmeras de segurança;</li>
					</ul>
				</p>
				<br>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col s12 m12 l12 center">
				<img src="/images/VERMONT-PISCINA-4K.png" class="img-fluid">
				<!-- img src="/images/ELEMENTO-2.png" class="img-fluid" -->
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col s12 m12 l12">
				<center>
					<img src="/images/ELEMENTO-2.png" class="img-fluid width-30px"><br>
					<span class="arkhip-regular grey-text f22">GALERIA </span>
				</center>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col s12 m12 l12">
				<div class="main-slider">
				    <div class="t-slide  current-t-slide">
				      <img src="/images/VERMONT-FITNESS-4K@2x.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-HALL-4K@2x.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-QUIOSQUE-4K@2x.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-PISCINA-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-PLAYGROUND-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-PORTARIA-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-SALA-APTO-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-SALÃO-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-SPA-4K.png" alt="" />
				    </div>
				    <div class="t-slide">
				      <img src="/images/VERMONT-VARANDA-4K.png" alt="" />
				    </div>

				  <div class="t-slider-controls ">
				    <div class="arrow right-arrow" style="z-index: 3;">
				      <div class="arrow-container">
				        <div class="arrow-icon"><i class="material-icons white-text text-shadow">arrow_forward</i></div>
				      </div>
				    </div>
				    <div class="arrow left-arrow" style="z-index: 3;">
				      <div class="arrow-container">
				        <div class="arrow-icon"><i class="material-icons white-text text-shadow">arrow_back</i></div>
				      </div>
				    </div>
				    <div class="t-load-bar">
				      <div class="inner-load-bar"></div>
				    </div>
				    <div class="t-dots-container">
				      <div class="t-slide-dots-wrap">
				        <div class="t-slide-dots">

				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="third-slider text-slider">
				  </div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col s12 m12 l12">
				<center>
					<span class="montserrat-regular white-text f22">COMO É ESTAR NO PONTO</span> <br>
					<span class="montserrat-regular white-text f22">ALTO DE SÃO CARLOS?</span> <br><br>
					<div class="container">
						<span class="grey-text f18">Estar no ponto alto de São Carlos é estar ao lado do Shopping Iguatemi. Com facilidade de acesso e perto de tudo, realmente tudo, que você precisa. Trabalho, escola, lazer, supermercado, conveniências, lojas, enfim, aliamos o máximo em sofisticação e conforto ao máximo em praticidade e qualidade de vida.</span>
					</div>
					<br><br>
					<iframe width="300" height="300" src="https://www.youtube.com/embed/aOcM_1Z3h3M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br><br>
					<div class="container">
						<img src="/images/mapa_vermont.png" class="img-fluid">
					</div>
				</center>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col s12 m12 l12">
				<center>
					<span class="grey-text f18">Avenida Passeio das Palmeiras, 420 - Parque Faber - São Carlos</span>
				</center>
			</div>
		</div>
		<div class="row no-margin-bottom hide-on-small-only">
			<div class="col s12 m12 l12">
				<center>
					<img src="/images/LINHAS.png" class="img-fluid">
					<a href="http://www.ergil.com.br">
						<img src="/images/logo-rodape.png" class="img-fluid absolute centralize">
					</a>
				</center>
			</div>
		</div>
		<div class="row no-margin-bottom hide-on-large-only">
			<div class="col s12 m12 l12">
				<center>
					<img src="/images/LINHAS.png" class="img-fluid">
					<a href="http://www.ergil.com.br">
						<img src="/images/logo-rodape.png" class="img-fluid absolute" style="left: 30%; margin-top: 50px;">
					</a>
				</center>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.t-slider-controls .t-dots-container{
		min-width: 400px !important;
	}
</style>

<script type="text/javascript">

  $(".screen-down").click(function(){
  	var valor = 0
  	console.log(($(document).scrollTop() + $(window).height()))
  	console.log($(document).height())
  	if(($(document).scrollTop() + $(window).height()) >= $(document).height()){
  		valor = 1
  	}else{
  		valor = $(document).scrollTop()+$(window).height()
  	}
    $('html, body').animate({
      scrollTop: valor
    }, 750);
  });

  $(".enviar").click(function(){
  	$('#enviar').trigger('click');
  });


document.getElementById('user_celular').addEventListener('input', function (e) {
  var aux = e.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0,5})(\d{0,4})/);
  e.target.value = !aux[2] ? aux[1] : '(' + aux[1] + ') ' + aux[2] + (aux[3] ? '-' + aux[3] : '');
});
</script>

