<!DOCTYPE html>
<html>
  <head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PB3ZS27');</script>
<!-- End Google Tag Manager -->


    <%= display_meta_tags og: {image: "/images/casal.png"} %>
    <%= display_meta_tags title: 'Vermont Residence' %>
    <%= display_meta_tags charset: 'utf-8' %>
    <%= display_meta_tags description: 'A Ergil lança o empreendimento perfeito para os consumidores mais exigentes. Um projeto sofisticado e elaborado minuciosamente para oferecer o máximo em qualidade de vida, conforto e elegância. Tudo isso, na melhor localização da cidade.' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
  
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB3ZS27"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
    <header class="header">
      <%= render "/shared/navbar" %>
    </header>

    <main>
      <%= yield %>
    </main>

    <div class="menu-lateral">
      <div class="">
        <span class="white-text title ">Compre seu imóvel</span>
        <hr>
      </div>
      <span class="white-text phone">
        <i class="material-icons white-text">phone</i>
        <br>
        (16) 99728-2150
      </span>
      <hr>
      <span class="white-text phone">
        <a id="whatsapp_link" target="_blank">
          <img src="/images/whatsapp-negative.png" class="width-30px">
        </a>
        <br>
        WhatsApp
      </span>
    </div>
<!--
    <a id="whatsapp_link" class="chat animated pulse infinite" href="" target="_blank">
      <img src="/images/whatsapp.png" width="75px" height="100%">
    </a>
-->

    <footer>
      <%= render "/shared/footer" %>
    </footer>



    <script type="text/javascript">

      $(document).ready(function(){
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
         $("#whatsapp_link").attr("href", "https://api.whatsapp.com/send?phone=5516997282150")
        }else{
         $("#whatsapp_link").attr("href", "https://web.whatsapp.com/send?phone=+5516997282150")
        }
        });
    </script>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'red'})" %>
      <% elsif message_type == 'notice' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'green'})" %>
      <% elsif message_type == 'danger' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'orange'})" %>
      <% elsif message_type == 'info' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'blue'})" %>
      <% end %>
    <% end %>
  </body>
</html>
